<div class="col-10 offset-1 about">
	<h1 class="about">About Splurty</h1>
</div>
	<p>
    Splurty was built by <a target="_blank" href="http://github.com/TerrancedWilliams1976">Terrance</a>. He's a up and coming full stack web developer in the Richmond, Virginia area. He specializes in Ruby on Rails, and iOS development. 
  	</p>
  	<br />
  	<p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  	</p>

  	<div class="row">
  		<div class="col-12 col-sm-4">
  			<%= image_tag 'my-pic.jpeg', class: 'img-fluid' %>
  		</div>

  		<div class="col-12 col-sm-7 offset-sm-1">
  			<h2 class="text-center">Terrance Williams</h2>
  			<br />
  		</div>
  	</div>
  	<br class="clear" />
    <br />
    <br />
    <br />
    <br />
    </div>
  	</div>
</div>